
body {
    margin: 0;
}

.custom-gmap-class {
    height:100vh;
    width:100%;
    transform-style:preserve-3d;
    transform:perspective(auto) translateZ(-30vw) scale(1.4);
    perspective:1000;
  -moz-transform: scale(0.8);
    -moz-transform-origin: 0 0;
  }